<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>com.sebas.paraulogic.joc.servlet.GameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsServlet</servlet-name>
        <servlet-class>com.sebas.paraulogic.joc.servlet.StatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModeServlet</servlet-name>
        <servlet-class>com.sebas.paraulogic.joc.servlet.ModeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.sebas.paraulogic.joc.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RulesServlet</servlet-name>
        <servlet-class>com.sebas.paraulogic.joc.servlet.RulesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreServlet</servlet-name>
        <servlet-class>com.sebas.paraulogic.joc.servlet.ScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LanguageServlet</servlet-name>
        <servlet-class>com.sebas.paraulogic.joc.servlet.LanguageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/GameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsServlet</servlet-name>
        <url-pattern>/StatisticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModeServlet</servlet-name>
        <url-pattern>/ModeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RulesServlet</servlet-name>
        <url-pattern>/RulesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreServlet</servlet-name>
        <url-pattern>/ScoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LanguageServlet</servlet-name>
        <url-pattern>/LanguageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeServlet</welcome-file>
    </welcome-file-list>
</web-app>
